/*
CSS for Delta Chi Website
*/

body {
  background-color: #EDEDED;
  margin: 0;
  font-family: helvetica;
}

/*--nav--*/

nav {
  height: 50px;
  width: 100%;
  background: #B7C0C9;
  font-size: 11pt;
  position: relative;
}

nav ul {
  height: 40px;
  width: 600px;
  margin: 0 auto;
  padding: 0;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  width: 100px;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
}

.menu-btn {
  display: none;
  width: 25px;
  background-color: #80868C;
  border-radius: 50%;
  float: right;
  margin: 6px 6px;
  padding: 8px;
}

.menu-btn-lines {
  border-bottom: 12px double black;
  border-top: 4px solid black;
  content: "";
  height: 4px;
  border-color: #EDEDED;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/*side-nav*/
.side-nav {
  display: none;
  height: 100%;
  width: 250px;
  z-index: 1000;
  top: 0;
  right: -250px;
  background: #2F3336;
  position: fixed;
  padding-top: 50px;
}

.side-nav a {
  display: block;
  height: 26px;
  color: #F7F7F7;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  font-weight: 200;
  line-height: 26px;
  padding: 12px;
}

.side-nav a:hover {
  color: #EBEBEB;
}

.side-nav a:active {
  color: #47a3da;
}

.side-nav-open {
  right: 0px;
}

/* Push classes applied to the body */
.side-nav-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.side-nav-push-toleft {
  left: -250px;
}

/* Transitions */
.side-nav,
.side-nav-push {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

/*--media-queries--*/

@media (max-width: 480px) {
  nav ul {
    display: none;
    height: auto;
  }

  nav .menu-btn{
    display: block;
    position: relative;
  }

  .side-nav {
    display: block;
  }
}
